<div class="container">
  <h1 class="title">Work-Up!</h1>
  <button routerLink="/exercise/back" class="btn btn-primary">Back</button>
  <button routerLink="/exercise/biceps" class="btn btn-primary">Biceps</button>
  <button routerLink="/exercise/chest" class="btn btn-primary">Chest</button>
  <button routerLink="/exercise/core" class="btn btn-primary">Core</button>
  <button routerLink="/exercise/legs" class="btn btn-primary">Legs</button>
  <button routerLink="/exercise/triceps" class="btn btn-primary">Triceps</button>
  <button routerLink="/home" class="btn btn-primary">Home</button>
</div>
<section class="content">
  <router-outlet></router-outlet>
</section>
