<button type="button" class="btn btn-primary"
        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Simple demo
</button>

<div class="container">
  <h1 class="title">Work-Up!</h1>
  <button routerLink="/back">Back</button>
  <button routerLink="/biceps">Biceps</button>
  <button routerLink="/chest">Chest</button>
  <button routerLink="/core">Core</button>
  <button routerLink="/legs">Legs</button>
  <button routerLink="/triceps">Triceps</button>
  <button routerLink="/home">Home</button>
</div>
<section class="content">
  <router-outlet></router-outlet>
</section>