<div class="container">
  <h1 class="title">Work-Up!</h1>
  <button routerLink="/exercise/back" class="btn btn-info">Back</button>
  <button routerLink="/exercise/biceps" class="btn btn-info">Biceps</button>
  <button routerLink="/exercise/chest" class="btn btn-info">Chest</button>
  <button routerLink="/exercise/core" class="btn btn-info">Core</button>
  <button routerLink="/exercise/legs" class="btn btn-info">Legs</button>
  <button routerLink="/exercise/triceps" class="btn btn-info">Triceps</button>
  <button routerLink="/home" class="btn btn-info">Home</button>
</div>
<section class="content">
  <router-outlet></router-outlet>
</section>
