<div class="table-container">

    
    <button class="btn btn-primary" (click)="openModal(addModal)">Add Exercise</button>
  
    
    <ng-template #addModal>
      <div class="modal-header">
        <h4 class="modal-title">Add Exercise</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form #form="ngForm" (ngSubmit)="createBack()" class="addForm">
          <label for="description">Exercise:</label><input type="text" id="description" [(ngModel)]="description" name="description" placeholder="Exercise Description" required><br>
  
          <label for="rounds">Sets:</label><input type="text" id="rounds" [(ngModel)]="rounds" name="rounds" placeholder="Sets"><br>
  
          <label for="reps">Reps:</label><input type="text" id="reps" [(ngModel)]="reps" name="reps" placeholder="Reps"><br>
  
          <label for="pr">PR:</label><input type="text" id="pr" [(ngModel)]="pr" name="pr" placeholder="PR"><br>
  
          <label for="prev">Previous:</label><input type="text" id="prev" [(ngModel)]="prev" name="prev" placeholder="Prev"><br>
  
          <button type="submit" class="btn btn-primary">Add Exercise</button>
        </form>
      </div>
    </ng-template>
  
      <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Sets</th>
              <th>Reps</th>
              <th>PR</th>
              <th>Last</th>
              <th>Update</th>
              <th>Delete Exercise</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let backs of back">
              <td>{{backs.description}}</td>
              <td>{{backs.rounds}}</td>
              <td>{{backs.reps}}</td>
              <td>{{backs.pr}}</td>
              <td>{{backs.prev}}</td>
              <td>
                
                <button class="btn btn-warning" (click)="openModal(editModal)">Edit</button>
  
                
                <ng-template #editModal>
                  <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modalRef?.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form #form="ngForm" (ngSubmit)="updateBack(backs.id, backs.description, backs.rounds, backs.reps, backs.pr, backs.prev)" 
                      class="addForm">
                      <label for="description">Exercise:</label><input type="text" id="description" [(ngModel)]="backs.description" name="description"><br>
              
                      <label for="rounds">Sets:</label><input type="text" id="rounds" [(ngModel)]="backs.rounds" name="rounds"><br>
              
                      <label for="reps">Reps:</label><input type="text" id="reps" [(ngModel)]="backs.reps" name="reps"><br>
              
                      <label for="pr">PR:</label><input type="text" id="pr" [(ngModel)]="backs.pr" name="pr"><br>
              
                      <label for="prev">Previous:</label><input type="text" id="prev" [(ngModel)]="backs.prev" name="prev"><br>
              
                      <br><button type="submit" class="btn btn-info">Edit</button>
                    </form>
                  </div>
                </ng-template>
              </td>
              <td>
                
                <button class="btn btn-danger" (click)="openModal(deleteModal)">Delete</button>
  
                
                <ng-template #deleteModal>
                  <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modalRef?.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Delete Exercise?
                    <button type="button" class="btn btn-danger" aria-label="Delete" (click)="deleteBack(backs.id)">Delete</button>
                  </div>
                </ng-template>
              </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
  
  </div>